@import "https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"

// Variables
$delimiter-border: 0.4rem solid #000000
$button-border: 0.2rem solid #000000
$button-size: 1.5rem
$background-url: url("https://c4.wallpaperflare.com/wallpaper/232/230/447/1920x1080-px-bit-pixel-art-pokemon-wallpaper-preview.jpg")

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 10px

body
    font-family: 'Share Tech Mono', sans-serif
    width: 100%
    height: 100%
    position: fixed
    //background-color: #eeeeee
    background-image: $background-url
    background-position: top
    background-size    : cover

.bar
    width: 100%
    height: 2.3rem
    position: relative
    padding: 0 6rem
    background-color: #00000086
    color: #ffffff

    .bar__clock, .bar__lang
        height: 100%
        width: fit-content
        float: right
        text-align: center
        font-size: 1.25rem
        line-height: 2rem
        position: absolute

    .bar__clock
        top: 50%
        left:0
        right: 0
        transform: translateY(-50%)
        margin-left: auto
        margin-right: auto

    .bar__lang
        top: 50%
        right: 5%
        transform: translateY(-50%)

        span + span
            margin-left: 2rem

        span:hover
            text-decoration: underline
            text-underline-position: below
            cursor: pointer
            color: #e7e7e7

.window
    width: 40%
    height: 60%
    max-height: 40.4rem
    max-width: 54.6rem
    top: 50%
    left:0
    right: 0
    transform: translateY(-50%)
    background-color: #cacae791
    position: absolute
    margin-left: auto
    margin-right: auto
    border: $delimiter-border

    .window__bar
        width: 100%
        height: 3rem
        border-bottom: $delimiter-border
        background-color: #c785d694
        display: inline-flex
        flex-direction: row
        align-items: center
        justify-content: center

        .window__title
            justify-self: center
            height: fit-content
            width: calc(100% - 1.9rem)
            display: flex
            justify-content: center

            span
                font-size: 1.5rem
                text-align: center
                margin-right: 1.9rem

        .window__close
            width: $button-size
            height: $button-size
            margin-left: 0.4rem
            border: $button-border
            background-color: #e05c5c
            cursor: pointer
            border-radius: 50%
            align-items: center
            justify-self: flex-start
            margin-right: auto

    .window__options
        width: 100%
        height: 2rem
        border-bottom: $delimiter-border
        background-color: #cbc4cc79
        display: inline-flex
        flex-direction: row
        align-items: center
        justify-content: flex-start
        text-align: center

        .window__option
            height: 100%
            width: fit-content
            padding: 0 0.5rem

            span
                font-size: 1.3rem
                line-height: 1.7rem

        .window__option:hover
            background-color: #b38dbb
            cursor: pointer

            span
                color: #ffffff

    .window__content
        width: 100%
        height: calc(100% - 5rem)
        padding: 0.8rem

        .content__profile, .content__contact
            width: 100%
            height: 100%
            padding: 1.5rem 0.5rem
            display: flex
            justify-content: space-between

            .profile__info--top, .contact__info--top
                display: flex
                flex-direction: column
                justify-content: space-between

            .info__line
                width: 100%
                color: #161616
                text-align: justify
                font-size: 1.1rem
                display: flex
                flex-direction: column

                span.info__line--property
                    color: #0257b8
                    font-size: 1.5rem
                    margin-bottom: 0.3rem

            .info__line + .info__line
                margin-top: 0.7rem

        .content__experience, .content__projects
            height: 100%
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 1.5rem 0.5rem

            .experice__company, .project__name
                width: 100%
                height: fit-content
                font-size: 1.5rem
                color: #0257b8

            span[id^="experienceDate"], span[id^="projectLang"]
                font-size: 1.1rem
                color: #0f0f0f

            .experice__role, .project__repo a, .project__repo a:visited
                font-size: 1.2rem
                color: #414141
                text-decoration: none

            .experice__desc, .project__desc
                margin-top: 0.5rem
                font-size: 1.1rem
                color: #161616
                text-align: justify
                
    .window__bar:active
        cursor: grabbing
