{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": false
                }
            }
        ],
        [
            "minify",
            {
                "evaluate": false,
                "mangle": true,
                "removeConsole": true
            }
        ]
    ]
}